/*Page styles*/
/*Fonts definitions*/
@font-face{
    src: url(../fonts/OpenSans-Regular.ttf);
    font-family: OpenSans-Regular;
}

@font-face{
    src: url(../fonts/OpenSans-SemiBold.ttf);
    font-family: OpenSans-SemiBold;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    font-family: OpenSans-Regular;
    margin: 0px;
    background-color: #f5f7f8;
}

/*-------------Mobile first desing-------------*/
#main{
    width: 100%;
}
.component{
    width: 48%;
    display: inline-block;
}

#container{
    display: grid;
    grid-template-columns: 10% 80% 10%;
   
    background-color: white;
    box-shadow: 0px 0px 3px 0px black;
    border-radius: 6px;
    margin: 10px;
}
.info-ico, .del-ico, #reload, #modify-ico{
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.info-ico{
    grid-area: 1/1;
    background: url("../img/info-1459077_640.png") center center no-repeat; 
    background-size: 100%;
    margin: 0px 0px 0px 10px;
}

.del-ico{
    grid-area: 1/3/4;
    background: url("../img/close-1540630_640.png") center center no-repeat;
    background-size: 100%;
    justify-self: end;
    margin: 0px 10px 0px 0px;
}

.component #photo{
    width: 80px;
    height: 80px;

    background: center center no-repeat;
    background-size: 100%;
    padding-top: 14px;
    place-self: center;

    border-radius: 14%;
}
.component #info{
    font-size: 13px;
    justify-self: center;
    grid-area: 2/2/3/3;
    text-align: center;
}
/*Modal window styles*/
#modal{
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

}
#modal #container{
    margin: 0px;
}
#modal #container #photo{
    grid-column: 2/3;
    width: 80px;
    height: 80px;
    place-self: center;
    margin-top: 10px;
}
#modal #container .del-ico{
    width: 68%;
}
#modal #container #modify-ico{
    grid-column: 1/2;
    background: url("../img/modify_icon.png") center center no-repeat;
    background-size: 100%;
    width: 80%;
    height: 30%;
    justify-self: start;
    margin: 7px 0px 0px 7px;
}
#modal #container #info{
    display: grid;
    /*width: 60%;*/
    grid-template-columns: 30% 70%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    border-style: dashed;
    grid-area: 2/2/3/3;
    font-size: 13px;
}

#modal #container #info > p{
    border-bottom: 1px solid black;
}

#modal #container #info > p:nth-child(even){
    text-align: right;
}

#modal #container #info > p:nth-child(odd){
    text-align: left;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: #000;
    pointer-events: none;
    opacity: 0.8;
}

#search-bar{
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: #121212;
    padding: 10px 0px 10px 0px;
}

#search-bar #reload{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 2px;
    left: 2px;
    background: url("../img/reload_icon.png") center center no-repeat;
    background-size: 100%;
}
/*Modify data form*/
#form-info{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 10px 0px 10px 0px;
}
#modify-bts{
    grid-column: 1/3;
    place-self: center;
    margin: 10px 0px 0px 0px;
}

#modify-bts > button:nth-child(1){
    color: white;
    background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
    border: 1px solid rgba(27,31,35,.2);
}

/*-------------Tablet desing-------------*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .component{
        width: 40%;
    }

    #info{
        font-size: 23px;
    }
    #photo{
        height: 200px;
        width: 200px;
    }

} 
/*-------------Desktop desing-------------*/
@media only screen and (min-width: 992px){
    .component{
        width: 20%;
    }
    #info{
        font-size: 16px;
    }
    #photo{
        width: 100px;
        height: 100px;
    }
    #modal #container .del-ico{
        width: 20%;
    }
    #modal #container #info{
        font-size: 17px;
    }
    #modal #container #photo{
        width: 100px;
        height: 100px;
    }
    #modal #container #modify-ico{
        width: 24%;
    }
}
