{#HTML Skeleton#}
<!DOCTYPE html>
<html>

<head>
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	{% if title %}
		<title>{{title}}</title>
	{% endif %}
	{% if styles %}
		{% for style in styles %}
			<link rel="stylesheet" href="{{'../css/' + style}}" media="screen, projection">
		{% endfor %}
	{% endif %}
</head>

<body>
	{% block content %}
	{% endblock %}
</body>

</html>